@{
    ViewData["Title"] = "Productos";
}
@model List<ProductManagement.Core.Application.ViewModels.Product.ProductViewModel>;

<div class="products">
    <div class="d-flex justify-content-between flex-wrap">
        <h3 class="display-6">Productos</h3>
        <a type="button" asp-route-Id="" asp-action="Save" class="btn btn-info text-white" style="height: 40px;">Agregar un producto</a>
    </div>
   

    <div class="products-container d-flex flex-wrap gap-3">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("~/Views/Shared/Components/Product/_Product.cshtml", item)
        }
    </div>
</div>


<!--
    a type="button" asp-action="Save" class="btn btn-success text-white" style="height: 40px;">Editar</a>
   <a type="button" asp-action="Save" class="btn btn-danger text-white" style="height: 40px;">Eliminar</a> 

-->  