@{
    ViewData["Title"] = "Delete Product";
}
@model ProductManagement.Core.Application.ViewModels.Category.CategoryViewModel;

<div class="delete">
    <div class="d-flex justify-content-between flex-wrap">
        <h3 class="display-6">Estas seguro que quieres eliminar esta categoria?</h3>
        <a type="button" asp-route-Id="@Model.Id" asp-action="DeletePost" class="btn btn-info text-white" style="height: 40px;">Eliminar categoria</a>
        <a type="button" asp-action="Index">Cancelar</a>
    </div>
</div>