@model ProductManagement.Core.Application.ViewModels.Category.SaveCategoryViewModel;

@{
    bool isEdit = false;

    if(Model != null)
    {
        if (Model.Id != 0) isEdit = true;   
    }
}

<div class="">
    <h3>@(isEdit? "Editando producto" : "Agregando categoria")</h3>
</div>

<form method="post" asp-controller="Category" asp-action=@(isEdit? "Edit" : "SaveCategory" ) enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="name">Nombre de la categoria</label>
        <input asp-for="Name" type="text" class="form-control" name="name">
        <span asp-validation-for="Name" class="text-danger"></span>

        <label class="form-label" for="name">Url de la imagen</label>
        <input asp-for="Image" type="text" class="form-control" name="image">

        <label class="form-label" for="category">Negocio</label>
        <select asp-for="BusinessId" class="form-select" name="businessId">
            @foreach(var business in ViewBag.Business)
            {
                <option value="@business.Id">@business.Name</option>
            }
        </select>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>