@{
    ViewData["Title"] = "Home";
}
@model List<ProductManagement.Core.Application.ViewModels.Business.BusinessViewModel>;

<div class="">
    <div class="d-flex justify-content-between flex-wrap">
        <h2 class="display-6">Recientes</h2>
        <div class="info">
            <p><b>Categorias: </b>@ViewBag.categoriesCount</p>
            <p><b>Productos: </b>@ViewBag.productsCount</p>
        </div>
    </div>
    <div>
        <p>
            <b>Total de negocios: </b> @ViewBag.businessCount
        </p>
    </div>
  
    <div class="home-container flex-wrap d-flex gap-3">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("~/Views/Shared/Components/Business/_Business.cshtml", item)
        }
    </div>
</div>

<style>
    .info {
        font-size: 19px;
    }
</style>