@{
    ViewData["Title"] = "Management";
}
@model List<CategoryViewModel>;

<div class="management">
    <div class="d-flex justify-content-between flex-wrap">
        <h2 class="">Categorias</h2>
        <a type="button" asp-action="Save" class="btn btn-info text-white" style="height: 40px;">Agregar una categoria</a>
    </div>


    <div class="categories-container d-flex gap-3">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("~/Views/Shared/Components/Category/_Category.cshtml", item)
        }
    </div>
</div>

